/* Fix Opera issue */
button:hover, button:focus {
    outline: 0 !important;
}

.dx-modal {
    z-index: 1026;
}

.dx-message {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1025;
    display: none;
}

.dx-page {
    z-index: 1000;
}

.dx-map {
    z-index: -1;
}

.dx-fullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dx-mini {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 240px;
    height: 180px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .dx-mini {
    }
}

.dx-overview {
    z-index: 200;
    visibility: hidden;
}

.dx-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.dx-toolbar > button {
    /* color: #ccc; */
    opacity: .6;
    padding: 6px 12px;
    border: 0;
    border-radius: 32px;
    background: transparent;
}

.dx-toolbar button:hover,
.dx-toolbar button:focus {
    /* color: #ccc; */
    text-decoration: none;
    opacity: .5;
    background: transparent;
}

#showcase {
    z-index: 100;
    visibility: hidden;
}

.dx-showcase {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
}

.dx-thumbnail {
    z-index: 1024;
    overflow: auto;
    background: #f5f5f5;
}

#close-thumbnail {
    position: fixed;
    top: .5em;
    right: 1.2em;

    padding: 2px 6px;
    border-radius: 16px;
    opacity: .6;
    z-index: 10;
}

#trash-thumbnail {
    position: fixed;
    bottom: .5em;
    left: 50%;
    margin-left: -16px;
    border-radius: 32px;
    opacity: .6;
    z-index: 10;
}

.dx-thumbnail .col-xs-6,
.dx-thumbnail .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.dx-thumbnail a.thumbnail {
    margin-bottom: 0;
}

@media (orientation: landscape) {
    .dx-thumbnail .col-xs-6 {
        width: 25%;
    }
}

.dx-actionbar {
    position: absolute;      
    bottom: 0.5em;
}
.dx-actionbar button {
    padding: 6px;
    margin-left: 16px;
    opacity: .38;
    background: transparent;
}

#live-canvas {
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-carousel .item-video video {
    width: 100%;
    height: 100%;
}

.owl-carousel .dx-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .dx-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .dx-video-play-icon {
  display: none; }

.dx-mini .owl-carousel .dx-video-play-icon {
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  background-size: cover;
}

.owl-theme .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;

    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

#showcase button,
#showcase button:focus {
    border: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: transparent;

    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .6;
    filter: alpha(opacity=50);
    display: inline-block;
    cursor: pointer;
}

#showcase button:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    opacity: .9;
}

.dx-toolbar button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dx-footbar > button {
    position: absolute;
    z-index: 300;

    padding: 2px 10px;
    border: 0;
    margin: 0;

    font-size: 2.0em;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .38;
    filter: alpha(opacity=50);
}

#toggle-overview {
    right: 2px;
    bottom: 2px;
    color: #fff;
    background: transparent;
}

#manage-showcase {
    left: 2px;
    bottom: 2px;
    color: #fff;
    background: transparent;
}

.dx-toolbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    width: 100%;
    height: 100%;
    background: #ccc;
    opacity: .8;
}

.dx-tool {
    margin: .6em;
    padding: .6em;
}

/*
 *
 * Do not wrap line in small device for navbar
 *
 */

.navbar-header {
    float: left !important;
}


.navbar-right {
    float: right !important;
}

.navbar-default {
    background: transparent;
    border: 0;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.xs-search-form {
    margin-right: 16px;
}

.xs-search-form input {
    opacity: 0;
}

.xs-search-form input:focus, .xs-search-form span {
    border: 0px;
    opacity: .6;
}

.search-result-list {
    position: absolute;
    z-index: 1000;
    max-width: 200px;
    top: 50px;
    right: 6px;
}

.dx-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 6px;
}

.navbar-brand {
    float: left;
    color: #EC6D51;
    cursor: pointer;
    font-size: 1.0em;
    font-weight: bold;
    vertical-align: middle;
}

.navbar-brand > img {
    vertical-align: text-bottom;
    width: 1.2em;
    height: 1.2em;
}

#navbar-user {
    background: transparent;
    border: 0px;
    padding: 8px 12px 6px 26px;
}

.dx-user span {
    font-size: 0.6em;
    color: red;
    vertical-align: top;
}

#dashboard {
    display: none;
    background: #f5f5f5;
    z-index: 1024;
}

#dashboard > .close {
    margin: 10px;
}

.ol-rotate {
    margin: 0;
    padding: 0;
    top: 3.6em;
    left: .5em;
    right: unset;
    border-radius: .8em;
}

.ol-rotate button {
    margin: 0;
    width: 1.6em;
    height: 1.6em;
    border-radius: .8em;
}

/*
 *
 * Control buttons
 *
 */

.main-controls {
    position: absolute;
    bottom: .5em;
    margin: 0 auto;
    text-align:center;
    width: 100%;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 2;
}

.main-controls > button {
    font-size: 16px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .6;

    margin: 2px 6px;
    padding: 6px 8px;
    cursor: pointer;
    border: 0;
    border-radius: 16px;
}

.main-controls > button:hover,
.main-controls > button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.side-controls {
    position: absolute;
    top: .5em;
    right: 1.5em;
    margin-right: .5em;
    max-width: 3em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 2;
}

.side-controls > button {
    font-size: 16px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .6;
    outline: 0;

    margin: 8px 6px;
    padding: 6px 8px;
    cursor: pointer;
    border: 1px;
    border-radius: 16px;
}

.side-controls > button:hover,
.side-controls > button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}


/*
 *
 * Popup showcase & settings
 *
 */

.popup-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( 5, 5, 5, .6 );
    /* opacity: 0.6; */
}

.popup-overlay .content {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

div#settings .content {
    max-width: 380px;
}

@media (max-width: 768px) and (orientation: landscape) {
  .col-sm-3 {
    padding-top: 6px;
    float: left;
  }
}

div#showcase .content {
    padding: 0px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.showcase-controls {
    /* float: right; */
    /* margin-right: .5em; */
    max-width: 3em;
    position: absolute;
    top: 0px;
    right: .5em;
    z-index: 10;
}

.intro-controls button,
.intro-controls button:focus,
.showcase-controls button,
.showcase-controls button:focus {
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;

    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .2;
    filter: alpha(opacity=50);
    display: inline-block;
}

.intro-controls button:hover,
.showcase-controls button:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.intro-controls button,
.intro-controls button:focus {
    cursor: pointer;
    opacity: 0.6;
}

/*
 *
 * Transform effects
 *
 */
#intro-canvas {
    transition: opacity 2s;
    -moz-transition: opacity 2s;	/* Firefox 4 */
    -webkit-transition: opacity 2s;	/* Safari å’Œ Chrome */
    -o-transition: opacity 2s;	/* Opera */
}

#house-view-wrapper {
    transition: width 1.6s, height 1.6s, left 1.6s, top 1.6s;
    -moz-transition: width 1.6s, height 1.6s, left 1.6s, top 1.6s;
    -webkit-transition: width 1.6s, height 1.6s, left 1.6s, top 1.6s;
    -o-transition: width 1.6s, height 1.6s, left 1.6s, top 1.6s;
}

img.house-card-preview {
    transition: width 3s, height 3s, left 3s, top 3s, border-radius 3s, opacity 1s;
    -moz-transition: width 3s, height 3s, left 3s, top 3s, border-radius 3s, opacity 1s;
    -webkit-transition: width 3s, height 3s, left 3s, top 3s, border-radius 3s, opacity 1s;
    -o-transition: width 3s, height 3s, left 3s, top 3s, border-radius 3s, opacity 1s;
}

/*
 *
 * Loader
 *
 */

.plone-loader{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.plone-loader > div {
    margin: -6em auto;
    font-size: 5px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(39, 33, 33, 0.2);
    border-right: 1.1em solid rgba(218, 211, 211, 0.2);
    border-bottom: 1.1em solid rgba(218, 211, 211, 0.2);
    border-left: 1.1em solid rgba(218, 211, 211, 0.2);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.plone-loader > div,
.plone-loader > div:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.plone-loader > span {
    color: rgba(218, 211, 211, 0.6);
    position: absolute;
    font-size: 1.6em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes show8 {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes show8 {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

div.author {
    position: absolute;
    right: .5em;
    bottom: .5em;
    cursor: default;
}

#intro-canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(data/preview/park.jpg),
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#controls-wrapper {
    padding: 0px;
}

.intro-controls {
    position: absolute;
    top: 9.5em;
    right: 1.5em;
    max-width: 3em;
    z-index: 2;
}

.frame-container {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: transparent;
}

#pano-view-wrapper1 {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    z-index: -1;
}

#house-view-wrapper {
    z-index: 1;
}


/*
 *
 * House card in park
 *
 */

.house-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 5.2em;
    height: 5.2em;
    border-radius: 2.6em;
    margin-left: -2.6em;
    margin-top: -2.6em;
    border: 0px solid #cccccc;
    background: transparent;
    outline: 0 !important;
    /* opacity: 0; */
    /* animation: show8 6.1s infinite linear; */
}

.house-card > img {
    width: 5.2em;
    height: 5.2em;
    border-radius: 2.6em;
    opacity: 1.0;
    animation: show8 6.1s infinite linear;
}

.house-card-preview {
    position: absolute;
    width: 5.2em;
    height: 5.2em;
    border-radius: 2.6em;
    opacity: 0;
    z-index: -1;
}


@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}