/* Fix Opera issue */
button, button:hover, button:focus {
    outline: 0 !important;
}

/*
 *
 * Part 1: Commom Style
 *
 */
.dx-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dx-mini {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 240px;
    height: 180px;
}

.dx-toolbar {
    position: absolute;
    right: 0;
    top: 0;
}

.dx-toolbar > button {
    opacity: .6;
    padding: 6px 12px;
    border: 0;
    border-radius: 32px;
    background: transparent;
}

.dx-toolbar button:hover,
.dx-toolbar button:focus {
    text-decoration: none;
    opacity: .5;
    background: transparent;
}


/*
 *
 * Part 2: Top Style
 *
 */
.dx-navbar {
}

.dx-map {
}

.dx-modebar {
    position: absolute;
    left: 0;
    bottom: 0;
}

.dx-footbar {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dx-explorer {
    visibility: hidden;
}

.dx-minimap {
    visibility: hidden;
}

.dx-manager {
    visibility: hidden;
}

/*
 *
 * Part 3.1: explorer
 *
 */
.dx-showcase {
}

/*
 *
 * Part 3.2: manager
 *
 */
.dx-taskbar {
}

.dx-titlebar {
}

.dx-toolcase {
}

