/*
 *
 * Part 1: Commom Style
 *
 */
.dx-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dx-mini {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 240px;
    height: 180px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dx-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}

/*
 *
 * Part 2: Top Style
 *
 */
.dx-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.dx-map {
    z-index: -1;
}

.dx-explorer {
    z-index: 10;
    visibility: hidden;
    overflow-y: auto;
}

.dx-minimap {
    z-index: 12;
    visibility: hidden;
}

.dx-vision {
    z-index: 10;
    visibility: hidden;
}

.dx-modebar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    visibility: hidden;
}

.dx-footbar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.dx-manager {
    background: #fcfcfc;
    z-index: 100;
    visibility: hidden;
    display: none;
}

.dx-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1050;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.dx-responsebar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1060;

    padding: 10px 15px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.dx-messagebox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1080;
}

.dx-messagebox > .alert {
    z-index: 1080;    
}

/*
 *
 * Part 3.1: explorer
 *
 */
.dx-showbar {
}

.dx-showcase {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
}

.dx-carousel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dx-carousel .owl-carousel .owl-item img {
    width: initial;
    max-width: 100%;
}

/*
 *
 * Part 3.2: manager
 *
 */
.dx-taskbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    overflow: auto;
}

.dx-titlebar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

.dx-toolcase {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}

/*
 *
 * Part 3.3: vision
 *
 */

#vision .carousel-indicators {
    bottom: unset;
    top: 10px;
}

#vision .dx-carousel {
    overflow-y: auto;
}

#vision .w-30 {
    width: 30%!important;
}

#vision .owl-item {
    overflow-y: auto;
}


/*
 *
 * Part 4: map
 *
 */

.ol-rotate {
    margin: 0;
    padding: 0;
    top: 3.6em;
    left: .5em;
    right: unset;
}

.ol-attribution {
    left: .5em;
    right: unset;
}

.ol-locator {
    left: .5em;
    top: 8.6em;
    background: transparent;
    visibility: hidden;
}

/*
 *
 * Part 5: modal
 *
 */

.dx-modal-elevation {
    max-width: 200px;
    margin: 1.75rem auto;
}

/*
 *
 * Part 6: video
 *
 */

.dx-mirror {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dx-video {
    object-fit: fill;
}

/*
 *
 * Polyfills
 *
 */

/* 解决点击状态按钮之后背景还是 :hover 的样式 */
#vision .carousel-item button.btn-outline-secondary {
    background-color: transparent;
}

#vision .carousel-item button.btn-outline-secondary.active {
    background-color: #6c757d;
}

/* #footbar > button.btn-outline-secondary, */
/* #footbar > button.btn-outline-info { */
/*     background-color: transparent; */
/* } */

/* #footbar > button.btn-outline-secondary.active { */
/*     background-color: #6c757d; */
/* } */

/* #footbar > button.btn-outline-info.active { */
/*     background-color: #17a2b8; */
/* } */

/* Fix Opera issue */
/* button, button:hover, button:focus { */
/*     outline: 0!important; */
/* } */
